html, body {margin: 0; padding: 0; box-sizing: border-box;
    }
*, *:before, *:after {
        box-sizing: inherit;
}
.main {
    background: url(diving4.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.container {
    max-width: 1357px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 100%;
    padding: 0 20px;
}
.head {
    display: flex;
    justify-content: space-between;
    color: white;
    padding-top: 112px; 
}
.fab {
    display: inline-block;
}
.nav {
    bottom: 0;
    font-family: 'Segoe UI';
}
.link {
    text-decoration: none;
    display: inline-block;
    margin-left: 25px;
    color: white;
    font-family: 'Segoe UI';
}
.icons {
    margin-top: 322px;
    height: 290px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
}
.bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    color: white;
    font-family: 'font';
    width: 100%;
}
.lang {
    display: flex;
    text-decoration: none;
    color: white;
    margin-top: 0;
}
.lang selected {
    font-weight: 700;
}
.line2 {
    content: "";
    width: 660px;
    height: 1px;
    background-color: white;
    opacity: 0.9;
    margin-left: 30%;
}
.line3 {
    content: "";
    width: 232px;
    height: 3px;
    background-color: white;
    opacity: 0.9;
    margin: 0 auto;
    padding-bottom: 1px;
}